
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;

}

img {
  max-width: 100%;
}

.container {
  margin-top: 200px;
  width: 350px;
  background-color: rgba(68, 68, 69, 1);
  height: 274px;
  padding: 0;
  border: 2px solid rgba(68, 68, 69, 1);


}

.accordion {
  background-color: rgba(100, 102, 107, 1);
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.accordion li {
  font-size: 20px;
  border: 1px solid rgba(40, 44, 53, 1);
  cursor: pointer;

}

.collapseable {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  padding: 0;


}
.collapseable li {
  background-color: rgba(229, 229, 229, 1);
  text-decoration: none;
  border: 1px solid rgba(207, 207, 207, 1);

}

.collapseable li a {
  color: rgba(100, 102, 107, 1);
};

.main-links a {
  color: white;
  text-decoration: none;
  display: inline-block;
}



.hide {
  display: none;
}

.hover {
  background-color: rgba(117, 155, 20, 1);
  color: rgba(100, 102, 107, 1);

}

.main-bg-color {
  background-color: rgba(117, 155, 20, 1);
}
